html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  color: #333;
  display: inline-block;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: inline;
  min-height: 10em;
  max-width: 25em;
  padding: .4em .75em .5em;
  text-align: center;
  margin: auto;
}

.btn {
  text-align: left;
  max-width: 25em;
  border: 2px solid #333;
  padding: .75em;
  border-radius: 8px;
  background-color: #eee9de;
  font-family: "Lato", sans-serif;
  color: #333;
  font-size: 1em;
}

button:hover {
  background-color: #666;
  border: 2px solid #666;
  color: white;
}

.img {
  display: inline-block;
  max-width: 25em;
  text-align: center;
  width: 100%;
  padding: 1em;
}

.text {
  display: inline-block;
  max-width: 25em;
  padding: 1em;
  width: 100%;
  text-align: left;
}

div {
  vertical-align: middle;
}

section {
  text-align: center;
  vertical-align: middle;
}

img {
  width: 100%;
  display: block;
}
