html {
  /* Box Model */
  box-sizing: border-box;
  display: inline-block;
  /* Visual Decoration */
  background-color: #eee9de;
  /* Typography */
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  color: #333;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: inline-block;
  box-sizing: border-box;
  min-height: 10em;
  max-width: 25em;
}

img {
  display: inline-block;
  text-align: center;
  min-width: 20em;
}

main {
  display: inline-block;
  text-align: left;
  max-width: 20em;
}

footer {
  display: inline-block;
  text-align: left;
  max-width: 20em;
}
